@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@layer utilities {
    .leaflet-container {
        height: 100%;
        width: 100%;
    }
}